
html
{
    height: 100%;
    padding: 0;
    margin: 0;
}
body
{
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 1024px;
}

@font-face{
    font-family: 'Geomantist';
    font-weight: normal;
    src: url('./LR2/fonts/geomanist-regular.eot'),
     url('./LR2/fonts/geomanist-regular.woff') format('woff'),
     url('./LR2/fonts/geomanist-regular.ttf') format('truetype'),
     url('./LR2/fonts/geomanist-regular.svg') format('svg');
}

.background-left
{
    width: 50%;
    height: 100%;
    background: url('./lr2/photo/wallpaper.png');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
}
.author
{
    margin-top: 70px;
}
.author-photo
{

    margin-left: 7%;

    border-radius: 50%;
    float: left;
    background-position: right center;
    background-size: 100px 100px;
}
.author-name
{

    margin-left: 5%;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 0;

    display: inline-block;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;

    text-shadow: 0px 0px 5px rgb(83, 83, 83);

}
.blog
{
    margin-left: 5%;
    margin-right: 40px;
    margin-top: 5px;

    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;

    text-shadow: 0px 0px 5px rgb(83, 83, 83);

}
.icons
{
    position: absolute;
    bottom: 5%;
    right: 5%;
    height: 150px;
    width: 100px;
    margin: 5px;

    padding: right;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 10px;

    z-index: 1;
    
}
.icons:hover
{
    background-color: rgba(31, 31, 31, 0.788);
    border-radius: 5px;
}
.logo
{
    padding: 10px;
}
/* .logo:hover
{
    background-color: rgb(111, 74, 199);
    border-radius: 5px;

} */
.goto-website
{
    position: absolute;
    bottom: 6%;
    left: 3%;
    /* height: 30px;
    width: 300px; */
    margin: 5px;

    display:flex;
    justify-content: center;
    align-items: baseline;
}
.arrow-left
{
    width: 18px;
    margin: 5px;
}
.website-text
{
    margin: 5px;
    font-family: 'Helvetica';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: white;
    
    text-shadow: 0px 0px 5px rgb(83, 83, 83);

}


/* Right side */
.background-right
{
    display: inline-block;
    margin-left: 50%;
    border: 1px solid black;
    width: 45%;
}
.Headline-H1
{

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10px;

    font-family: 'Geomantist', 'Helvetica';
    font-size: 53px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #2c2c35;

    text-shadow: 0px 0px 1px rgb(180, 180, 180);
}
.Sub-title
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;

    font-family: 'Geomantist', 'Helvetica';
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.7;
    letter-spacing: normal;
    color: #2c2c35;

    text-shadow: 0px 0px 1px rgb(212, 212, 212);
}
@keyframes arrow
{
    0% 
    {
        opacity: 0;
        margin-top: 20px;
        margin-bottom: 100px;
    }
    50%
    {
        opacity: 1;
    }
    100% 
    {
        opacity: 0;
        margin-top: 50px;
        margin-bottom: 70px;
    }
}
@keyframes disappear
{
    /* 0%
    {
        opacity: 100;
    } */
    100%
    {
        opacity: 0;
    }
}
.arrow-down
{
    margin-top: 20px;
    margin-left: 49%;
    margin-right: 49%;
    margin-bottom: 100px;
    
    opacity: 0;

    /* animation: none; */ 
    animation-name: arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 3s;
}
/* Page 2 */
.Headline-H2 
{
    margin-top: 72px;
    margin-left: 10%;
    margin-right: 10%;   

    font-family: 'Geomantist', 'Helvetica';
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2c35;

}
.text
{
    margin-top: 32px;
    
    margin-left: 10%;
    margin-right: 10%;   

    font-family: 'Helvetica';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: normal;
    color: #2c2c35;

}
.Sherwood-Forest-Lake 
{
    margin-top: 20px;
    margin-left: 0;
    margin-right: 40px;
    margin-bottom: 40px;

    float:left;
}
.lake
{
    margin-top: 40px;
    margin-left: 0;
    width: 100%;

}
.lake-description
{
    margin-top: 16px;
    
    margin-left: 10%;
    margin-right: 10%;   

    text-align: center;
    color: rgb(172, 172, 172);

    font-family: 'Helvetica';
    font-size: 16px;

    text-shadow: 0px 0px 1px rgb(231, 231, 231);
}
.grey-line
{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
    width: 35%;
    color: rgb(231, 231, 231);
}
.Headline-H3 {
    margin-top: 72px;
    
    margin-left: 10%;
    margin-right: 10%;   

    font-family: 'Geomantist', 'Helvetica';
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2c35;
}
.hyperlink
{
    color: blue;
    font-style: normal;
    text-decoration: underline;
}
.Headline-H4 {
    margin-top: 72px;
    
    margin-left: 10%;
    margin-right: 10%;   

    font-family: 'Geomantist', 'Helvetica';
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2c35;
}
.quote
{
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;

    font-size: 20px;
    font-style: italic;
    line-height: 1.6;
    font-family: 'Roboto', 'Helvetica';
}
.forest{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 0;
    margin-bottom: 40px;

    float:right;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.bottom{
    position: relative;
    margin: 0;
    width:100%;
    padding-bottom: 100px;
    
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(to bottom, rgb(253, 253, 253), rgb(248, 248, 248), rgb(238, 238, 238), rgb(185, 185, 185));
}
@keyframes barrelroll
{
    0%
    {
        transform: rotate(0deg);
    }
    25%
    {
        transform: rotate(90deg);
    }
    50%
    {
        transform: rotate(180deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.share{
    position: absolute;
    top: -35px;
    right: 10%;
    width: 96px;
    height: 96px;
    background-color: #5a5aff;
    background-image: url('./LR2/icons/share.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    border-radius: 50%;

}
.share:hover{
    background-color: #ff9c5a;
    
    cursor: pointer;

    animation-name: barrelroll;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
.info
{
    margin-top: 50px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: nowrap;

    align-items: flex-start;
}
.info-photo{
    width: 25%;
    /* border: 1px solid black; */
    justify-content: right;
    padding-top: 20px;

}
.author-photo-second{
    margin-top: 30%;
    margin-left: 10%;
    border-radius: 50%;
}
.info-text{
    padding: 5%;
    padding-right: 15%;

    display: block;
    width: 75%;
    /* border: 1px solid black; */
    
}
.author-name-second{
    
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;    

    text-shadow: 0px 0px 1px rgb(231, 231, 231);
    color: #2c2c35;
}
.bio
{

    font-family: Helvetica;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    font-size: 16px;
    text-shadow: 0px 0px 1px rgb(231, 231, 231);
    color: #2c2c35;
}
.subscribe-form
{
    position: relative;
}
.input-field
{
    position: absolute;
    top: 0;
    left: 0;

    padding: 12px 25% 12px 56px;
    width: 50%;
    margin-right: 50px;


    background-image: url('./LR2/icons/mail.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 16px 10px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 25px;
    color: rgb(121, 121, 121);

    font-family: Helvetica;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.input-field::placeholder
{
    color:rgb(175, 175, 175);
}
.subscribe-button
{
    position: absolute;
    top: 0;
    right: 0;
    /* width: 25%; */
    padding: 13px 13px;

    border: none;
    /* border: 1px solid rgb(185, 185, 185); */
    border-radius: 25px;
    color: white;
    background-color: #29b1cc;

    font-family: Helvetica;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.subscribe-button:hover
{
    background-color: #29cc6d;
}